.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(44, 59, 79);
  color: rgb(220, 220, 220);
  padding: 1em 3em;
}

.nav-link {
  margin-inline: 10px;
}

@media(max-width: 720px) {
  .app-header {
  }
}