.email-details {
    display: grid;
    grid-template-columns: 1fr 4fr;

    margin: 0 auto;
    gap: 5px;

    min-width: 700px;
    max-width: 1200px;
    padding: 20px;
}

.email-body {
    padding: 10px;
}

.details-subject {
    margin-block-end: 1.5em;
    font-size: 1.7em;
    font-weight: bold;
}

.details-from {
    margin-block: 1em;
    font-size: 1.2em;
    font-weight: bold;
}

.details-nav {
    display: flex;
    grid-column: 2/3;
    justify-content: space-around;
    margin-inline-start: 10px;
    width: 70px;
}