.note-preview {
    width: 200px;
    height: 200px;
    border-radius: 7px;
    transition: 0.3s;
}

.note-preview:hover {
    scale: 1.05;
    -webkit-box-shadow: 0px 2px 24px 6px rgba(0,0,0,0.63); 
    box-shadow: 0px 2px 24px 6px rgba(0,0,0,0.63);
}