.note-preview {

    text-shadow: #F7F1E5 0px 0 2px;
    overflow-wrap: break-word;
    margin: 20px;
    min-width: min(200px, min-content);
    border-radius: 7px;
    transition: 0.3s;
    break-inside: avoid;
    margin-top: 0;

}

.note-preview:hover {
    scale: 1.05;
    -webkit-box-shadow: 0px 2px 24px 6px rgba(0,0,0,0.63); 
    box-shadow: 0px 2px 24px 6px rgba(0,0,0,0.63);
}