.note-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-note-title {
    color: #393053;
}

.note-add input {
    border-radius: 10px;
    border: none;
    width: 300px;
}
 .btn-save {
    background: none;
    border-radius: 20px;
    border: none;
    background-color: #B9F3E4;
    padding: 0 10px;
    transition: 0.3s;
 }

.btn-save:hover {
    scale: 1.1;
}

.note-type-set {
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.note-type-set button {
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
}
