.email-nav {
    display: grid;
    grid-row: 2/4;
    grid-column: 1/2;
    max-width: 200px;
    background-color: rgb(245, 244, 244);
    border-radius: 8px;
}

.email-nav div {
    margin-bottom: 15px;
}

.email-nav i {
    margin-left: 5px;
}

.email-nav span {
    margin-left: 20px;
}

.btns-nav {
    margin: 10px;
}